<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% load static %} <!-- Inform Django of static media usage ahead -->

<html>

    {% block title %}{{ category_name }}{% endblock %}

    {% block body_block %}
        {% if user.is_authenticated %}
            <h1>Rango says... hello {{ user.username }} and welcome back!</h1>
            <a href="/rango/restricted/">Restricted Page</a><br/>
            <a href="/rango/logout/">Logout</a><br/>
        {% else %}
            <h1>Rango says... hello world!<br/><strong>{{ boldmessage }}</strong><br/></h1>
            <a href="/rango/register/">Register</a>    <a href="/rango/login/"> Login</a><br/>
        {% endif %}
        {% if categories %} <!-- Check views.index.context_dict["categories"] -->
            <h2>Top 5 Categories based on number of views</h2>
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories present.</strong>
        {% endif %}
        {% if pages %}
            <h2>Top 5 pages based on number of likes</h2>
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> There are no pages present.</strong>
        {% endif %}
    {% endblock %}

    {% block footer_block %}
        <img src="{% static 'Rango Valentine&#39;s Day.png' %}" alt="Picture of Rango"/>
    {% endblock %}
</html>